body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 70px;
    background-color: #332e2e;
}
.container { /* all */
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(133, 8, 8);
}
.title-container {/* title */
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: large;}

.logo {
        width: 80px;
        height: auto;
    }

.container h3{ 
        text-align: center;
        font-size: x-large;
    }

.buttons-container{
        display: flex;
        gap: 10px;
        align-items: center;
        margin-left: auto;
        justify-content: center;
        align-items: center;
    
}.btn {
        padding: 10px 10px;
        background-color: #332e2e;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-size: 16px;
        text-decoration: none;
    }
    
.btn:hover {
        background-color: #550909;
    }
table { 
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px; }

th, td { 
    border: 1px solid #ddd; 
    padding: 10px; 
    text-align: left; }

th { 
    background-color: rgb(133, 8, 8); 
    color: white; }

.view-btn { 
    background: #28a745; 
    color: white; 
    padding: 5px 10px; 
    border: none; 
    cursor: pointer; }
