body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #332e2e;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    background: rgb(238, 236, 236);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(133, 8, 8);
}

video, canvas {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background: #660404;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #332e2e;
}
.container a{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background: #660404;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.container a:hover{
    background: #332e2e;
}
video {
    width: 2.63in;
    height: 3.88in;
    border: 1px solid #ddd;
    display: block;
    margin: 10px auto;
}
canvas {
    width: 2.63in;
    height: 3.88in;
    border: 1px solid #ddd;
    display: block;
    margin: 10px auto;
}